@import url('https://fonts.googleapis.com/css?family=Bangers');

h1 {
    color: rgb(206, 6, 6);
    font-family: 'Bangers', cursive;
    letter-spacing: 3px;
    text-align: center;
}

h2, h3 {
    color: #444;
    font-family: 'Bangers', cursive;
    text-align: center;
    letter-spacing: 2px;
}

body,
input[type="text"],
button {
    color: #888;
    font-family: Cambria, Georgia;
}
    